#myForm input {
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 5px 60px;
    cursor: pointer;
    background-color: black;
    font-family: var(--primary-font);
    transition: 0.3s;
}